body {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    height: 100vh;
    background-color: #7f4747;
}

button {
    background-color: #f2f5f5;
    border-radius: .2rem;
    padding: .5rem 1rem;
    font-size: 1.2rem;
    width: 110px;
    transition: all .04s ease;
}

#reset {
    padding: .4rem .8rem;
    font-size: .96rem;
    width: 88px;
    margin: 0 0 20px 0;
}

/* On-click animation styling */

.clicked {
    transform: scale(1.1);
    border-color: #0e7fcb;
    box-shadow: 0 0 1rem #0e7fcb;
}

/* Container with all content */

#content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    width: 500px;
    height: 300px;
    margin-top: 20px;
    background-color: #ffe5ee;
    border: thick solid black;
    border-radius: 10px;
}

#roundContainer {
    display: flex;
    justify-content: right;
}

#reset {
    margin: 20px;
}

#statusContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 500px;
}

#scoreContainer {
    display: flex;
    justify-content: center;
}

#playerScore {
    margin-right: 20px;
}

#roundResult {
    align-self: center;
}

#playAgainText {
    align-self: center;
    height: 30px;
}

#roundResult {
    padding-top: 10px;
}